<div class='row'>
<div class="col-md-6-lg-3 col-sm-6 border-right text-center">
<a href="<%= following_user_path(@user) %>">
<strong><%= @user.following.count %></strong><br>
<strong>Following</strong>
</a>
</div>
<div class="col-md-6-lg-3 col-sm-6 border-right text-center">
<a href="<%= followers_user_path(@user) %>">
<strong><%= @user.followers.count %></strong><br>
<strong>Followers</strong>
</a>
</div>
</div>